/* Кнопка вверх */
#up { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e02453ec;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    transform: scale(0.9);
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #up:hover {
    cursor: pointer;
    background-color: #375f64;
    transform: scale(1);
  }
  #up:active {
    background-color: #4b7c7c;
  }
  #up.show {
    opacity: 1;
    visibility: visible;
  }

  /* скроллбар */
* {
scrollbar-width: thin;
}
*::-webkit-scrollbar {
height: 16px;
width: 16px;
}
*::-webkit-scrollbar-track {
background-color: #301c1c00 ;
margin-top: auto;
}
*::-webkit-scrollbar-thumb {
background: #741132d5 ;
height: 200px;
background-size: contain;
overflow: auto;
}
*::-webkit-scrollbar-thumb:hover {
background: #7c1235d5;
}
*::-webkit-scrollbar-thumb:active {
background: #88133ad5;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
background-color: #301c1c00 ;
display: block;
border-style: solid;
height: 16px;
width: 16px;
}
::-webkit-scrollbar-button:single-button:hover {
background-color: #7c1235d5;
}
::-webkit-scrollbar-button:single-button:active {
background-color: #88133ad5;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
border-width: 0 8px 8px 8px;
border-color: transparent transparent #301c1c00  transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
border-color: transparent transparent #301c1c  transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
border-color: transparent transparent #301c1c  transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
border-width: 8px 8px 0 8px;
border-color: #301c1c00  transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
border-color: #301c1c  transparent transparent transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
border-color: #301c1c  transparent transparent transparent;
}

.container{
  display: block;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: space-between;
  align-content: space-around;
  height: 80%;
  margin: 32px 32px 32px 32px;
  padding: 32px;
  min-width: 140px;
  
} 

.upload {
  display: flex;
  justify-content: center;
  position: relative;
  border: 2px dashed #fff;
  align-items: center;
  position: relative;
  width: 100% ;
  height: 100%;
  transition: all 0.3s ;
}
.upload:hover {
  cursor: pointer;
  border: 2px solid rgba(119, 12, 27, 0.932);
  background-color: #0423278c;

}
.lets:hover {
  font-size: 20pt;
  color:rgba(211, 23, 48, 0.932)
}
.upload form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between ;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.upload img {
    width:100%;
    display:none;
    margin-bottom:30px;
}
.upload i {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upload input {
  display:none;
}

.upload label {
  display:block;
  width:45%;
  height:45px;
  line-height:50px;
  text-align:center;
  color:#fff;
  font-size:24pt;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
  transform: all 0.1s;
}
.upload label:hover{
  color: darkred;
}
@media screen and (max-width: 1680px) {

  .upload label {
      font-size: 18pt;

  }
  }

@media screen and (max-width: 1280px) {

  .upload label {
      font-size: 13pt;

  }
  }

@media screen and (max-width: 976px) {
.upload label{
    font-size: 9pt;

}
}

.poddon {
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column;
  display: grid;
  flex-wrap: wrap; */
  margin-top: 40px;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry; */
}
.start {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(100, 13, 25, 0.932);
  color: #fff;
  width: 100%;
  min-height: 40px;
  height: 64px ;
  border-style: none;
  box-shadow: none;
  font-family:"Open Sans",sans-serif;
  font-size: 16pt;
  font-weight: 500;
  text-transform: none;
}

.start:hover {
  background-color: rgba(112, 14, 27, 0.932);
  border-style: none;
}
.start:active{
  background-color: rgba(134, 18, 33, 0.932);
  border-style: none;
}
.details{
  margin-bottom: 64px;
}
.info {
  display: flex;
  position: relative;
  box-sizing: content-box;
  height: 64px;
  justify-content: center;
}
  @media screen and (max-width: 1680px) {

    .info {
        font-size: 12pt;

    }
    }

@media screen and (max-width: 1280px) {

    .info {
        font-size: 11pt;
    }
    }


@media screen and (max-width: 976px) {
    .info {
      font-size: 9pt ;
    }
    }


    .content_upload{
      justify-content: space-between;
      align-items: center;
      display: flex;
      position: relative;
      box-sizing: content-box;
      }
      
    .progress-area .row .zagruzka{
      width: 100%;
      margin-left: 15px;
    }
    .progress-area .details{
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: stretch;
      text-align: justify;
    }
    .progress-area .zagruzka .progress-bar{
      height: 6px;
      width: 100%;
      margin-bottom: 4px;
      background: #ffffff1c;
      border-radius: 30px;
    }
    .zagruzka .progress-bar .progress{
      height: 100%;
      width: 100%;
      background: rgba(121, 4, 10, 0.918);
    }
    .uploaded-area{
      display: -ms-flexbox;
      display: flex;
      text-align: justify;
      position: relative;
    
      max-height: 64px;
    }
    .uploaded-area.onprogress{
      max-height: 150px;
    }
    .uploaded-area::-webkit-scrollbar{
      width: 0px;
    }
    .uploaded-area .info .zagruzka{
      display: flex;
      align-items: center;
    }
    .uploaded-area .info .details{
      display: flex;
      flex-direction: column;
    }
    .uploaded-area .info .details .size{
      justify-content: stretch;
      align-items: center;
      text-align: center;
      color: wheat;
      font-size: 12px;
    }
    .uploaded-area .info .details .name{
      position: relative;
      display:flex;
      text-align: center;
    }
    
    .uploaded-area i.fa-check{
      font-size: 16px;
    }
    
    .modal_window {
    position: fixed;
    display:block;
    background-color: rgba(8, 20, 37, 0.904);
    margin: 64px 32px 64px 32px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    box-shadow: 0px 0px 20px rgba(151, 37, 37, 0.192);
    }
    
    .modal_window:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    .modal_window > div {
      padding: 1em;
    }
    
    .modal_close {
      line-height: 40px;
      background-color: rgba(100, 13, 25, 0.671);
      font-size: 80%;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 40px;
      text-decoration: none;
      }
    
    .modal_close:hover {
      background-color: #a8183cbe;
    }
    
    .modal_close:active {
      background-color: #963049e7;
    }
    
    .modal_window .div{
      border-radius: 1rem;
    }
    
    .modal_window div:not(:last-of-type) {
    margin-bottom: 15px;
    }
 
/* * сканер * */
.scan{
position: relative;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
animation: animate_col 2s linear infinite;
}
@media screen and (max-width: 737px) {
  .scan{
        justify-content: center;
        text-align: center;
        margin-top: 50%;
  }
  }

@keyframes animate_col {
0% {
    filter: hue-rotate(0deg);
}
100%{
    filter: hue-rotate(360deg);
}
}

.scan .face{
position: relative;
width: 500px;
height: 500px;
background: url(/static/images/grey.png);
background-size: 500px;

}

.scan .face::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(/static/images/lines.png);
background-size: 500px;
animation: animate 4s ease-in-out infinite;

}

@media screen and (max-width: 737px) {
  .face{
        display: none;
  }
  }


@keyframes animate {
0%, 100%{
    height: 0%;
}
50%{
    height: 100%;
}
}

.scan .face::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 8px;
background: #3fefef;
border-radius: 8px;
filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line
{
0%, 100%
{
    top: 0%;
}
50%
{
    top: 100%;

}
}

.scan h3 {
text-transform: uppercase;
color: #3fefef;
font-size: 2em;
margin-top: 20px;
letter-spacing: 2px;
filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
animation: animate_text 0.5s step(1) infinite;
}

@keyframes animate_text
{
0%, 100%
{
    opacity: 0;
}
50%
{
    opacity: 1;

}
}

.scan .face .dots {
position: absolute;
inset: 0;
}

.scan .face .dots::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 500px;
height: 500px;
background: url(/static/images/face.png);
background-size: 500px;
animation: face_lines 4s ease-in-out infinite;
}

@keyframes face_lines
{
0%, 25%, 100%
{
    height: 0%;
}
50%
{
    height: 100%;

}
}

.scan .face .dots::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 500px;
height: 500px;
background: url(/static/images/face2.png);
background-size: 500px;
animation: face_col 4s ease-in-out infinite;
}



@keyframes face_col
{
0%, 100%
{
    height: 0%;
}
50%
{
    height: 100%;

}
}


@media screen and (max-width: 737px) {
  .dots{
        display: none;
  }
}
