<!DOCTYPE HTML>
<html>
	{% if messages %}
  		<ul class="messages">
    		{% for message in messages %}
      			<li class="{{ message.tags }}">{{ message }}</li>
    		{% endfor %}
  		</ul>
	{% endif %}
	<head>
		<title>Det_art</title>
		<link rel="icon" href="/static/images/anonym.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/style.css" />	
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>			
		<script src="https://kit.fontawesome.com/5cdacd3082.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">
		{% if messages %}
		<ul class="messages">
		  	{% for message in messages %}
				<li class="{{ message.tags }}">{{ message }}</li>
		  	{% endfor %}
		</ul>
  		{% endif %}	

		<i class="fa-solid fa-angles-up" id="up"></i>
			<div id="page-wrapper">
					<!-- <header id="header" class="alt">
						<h1><a href="index.html"></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Меню</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Главная</a></li>
											<li><a href="generic.html">Инструкция</a></li>
											<li><a href="elements.html">Преимущества</a></li>
											<li><a href="#">Приступить</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header> -->

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Det_art</h2>
							<p>Ваш персональный помощник</p>
							<ul class="actions special">
								<li><a href="#open_modal" id="show" class="button primary" onClick="showDialog()">Начать работу</a></li>
							</ul>
							<div id="open_modal" class="modal_window">
								<a href="#" title="Закрыть" class="modal_close" id="close">❌</a>
								<div class="container" id="1">
									<!-- <div class="original-html" data-original-html=''> -->
									<div class = "upload">
										<label class="lets">Нажмите на область для выбора файла</label>						
									<form action="/upload/" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<input class="file-input" type="file" name="upload" hidden >
										
								   </form>
								       
									</div>
								
									<div class="poddon">
										<!-- <div class="knopka">
											<button class="start">Запуск</button>
										</div> -->
										<div class="info">
											<section class="progress-area"></section>
											<section class="uploaded-area"></section>
										</div>

									</div>
									
								<!-- </div>	 -->
							</div>
						</div>			
						<a href="#one" class="more scrolly">Подробнее</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Для чего был создан сервис?</h2>
								<p>Предназначение "название" заключается в определении отклонения существующих артефактов от стандартных значений </p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-gem major style1"><span class="label">Надёжность</span></span></li>
								<li><span class="icon fa-heart major style2"><span class="label">Безопасность</span></span></li>
								<li><span class="icon solid fa-code major style3"><span class="label">Скорость</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="static/images/pic02.jpg" alt="" /></div><div class="content">
								<h2>1. Выберите подозрительный файл</h2>
								<p>Проверка подлинности не займёт много времени</p>
								<h2>2. Задайте параметры</h2>
								<p>Помогите нам лучше справиться с задачей обнаружения подозрительных элементов</p>
								<h2>3. Запуск</h2>
								<p>Пожалуйста, ожидайте завершения обработки вашего запроса</p>
							</div>
						</section>

						</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Преимущества нашего сервиса</h2>
								<p>Мы стремимся обеспечить комфортное взаимодействие с сервисом</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane">
									<h3>Обратная связь</h3>
									<p>Обо всех замеченных недочётах Вы можете сообщить, связавшись с нами</p>
								</li>
								<li class="icon solid fa-laptop">
									<h3>Адаптивность</h3>
									<p>Благодаря нашим стараниями сервис доступен на любой платформе</p>
								</li>
								<li class="icon solid fa-code">
									<h3>Чистота</h3>
									<p>В сервисе отсутствуют лишние службы, которые могли бы Вам помешать</p>
								</li>
								<li class="icon solid fa-headphones-alt">
									<h3>Конфиденциальность</h3>
									<p>Мы не храним данные пользователей, тем самым заботясь о вашем комфорте</p>
								</li>
								<li class="icon fa-heart">
									<h3>Безопасность</h3>
									<p>Мы тщательно следим за активностью вредоносных служб на нашем сайте</p>
								</li>
								<li class="icon fa-flag">
									<h3>Скорость</h3>
									<p>Время, сэкономленное на нашем сервисе, Вам ещё пригодится</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Безопасность - наш приоритет</h2>
								<p>Спасибо, что заботитесь о своей безопасности и пользуетесь нашим сервисом</p>
							</header>
							<ul class="actions stacked">
								<li><a href="#" class="button fit primary">Конфиденциальность</a></li>
								<li><a href="#" class="button fit">Справка</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="mailto:avolnovst@bk.ru" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="static/assets/js/script.js"></script>

	</body>
</html>